!!!5
html
    head      
        script(type="text/javascript", src="scripts/shCore.js")
        script(type="text/javascript", src="scripts/shBrushJScript.js")
        script(type="text/javascript", src="scripts/shBrushCpp.js")
        script(type="text/javascript", src="scripts/shBrushJava.js")
        script(type="text/javascript", src="scripts/shBrushPerl.js")
        script(type="text/javascript", src="scripts/shBrushPhp.js")
        script(type="text/javascript", src="scripts/shBrushPython.js")
        script(type="text/javascript", src="scripts/shBrushRuby.js")
    body
        link(href="styles/shCore.css", rel="stylesheet", type="text/css")
        link(href="styles/shThemeDefault.css", rel="stylesheet", type="text/css")
        pre(class="brush: #{language}")
            #{code}
        script(type="text/javascript")
            SyntaxHighlighter.all();
