!!!5
html
    head      
        script(type="text/javascript", src="../sh/scripts/shCore.js")
        script(type="text/javascript", src="../sh/scripts/shBrushJScript.js")
    body
        link(href="../sh/styles/shCore.css", rel="stylesheet", type="text/css")
        link(href="../sh/styles/shThemeDefault.css", rel="stylesheet", type="text/css")
        //content here
        script(type="text/javascript")
            SyntaxHighlighter.all();
